services:
  jenkins:
    build: .
    container_name: jenkins
    restart: always
    privileged: true
    user: root

    ports:
      - ${HTTP_PORT}:8080
      - ${CONTROLLER_PORT}:50000

    volumes:
      - ${HOME_DIR}:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
