services:
  reverseProxy:
    image: nginx:alpine
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    volumes:
      - ${CONF_D_DIR}:/etc/nginx/conf.d:ro
      - ${CONF}:/etc/nginx/nginx.conf:ro
      - ${CERTS_DIR}:/etc/nginx/certs
